@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@900&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400&family=Train+One&family=Urbanist:wght@900&display=swap");

/* Reset & Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Reset & Common Styles */

/* Navbar */
.navbar {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.navbar-wrapper {
  width: 87%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
}

.navbar-links a {
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0 4rem;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0.1rem 0.1rem 0.1rem #888;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: color 0.2s;
}

.navbar-links a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* End of Navbar */

section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

section.active {
  opacity: 1;
  visibility: visible;
}

/* Section 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #14213d;
  position: relative;
  transition: opacity 0.5s;
  z-index: 100;
}

.section-1-wrapper {
  width: 65%;
  height: 100%;
  margin-left: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("/images/bg-1.jpg") center no-repeat;
  background-size: cover;
}

.banner {
  position: absolute;
  top: 70%;
  left: 8%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg) translate(20rem, 21rem);
  width: 39rem;
  height: 0.8rem;
  background-color: #fff;
  border-radius: 1rem;
}

.banner-heading-1 {
  font-family: "Lexend Exa", sans-serif;
  font-weight: 900;
  font-size: 14rem;
  transform: translateX(-2%);
  text-shadow: 0.5rem 0.3rem 0.1rem #222;
  text-transform: uppercase;
  color: #fff;
  line-height: 0.5;
}

.banner-heading-2 {
  font-family: "Train One", cursive;
  font-size: 11rem;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 0.6rem;
}

.banner-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.8rem;
  color: #ddd;
  letter-spacing: 0.1rem;
}

.section-1-btn {
  font-weight: 600;
  font-size: 2.3rem;
  background-color: #168aad;
  color: #ddd;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.1rem #111;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.2rem;
  padding: 1.5rem 3rem;
  margin-top: 2.3rem;
  cursor: pointer;
  transition: opacity 0.1s;
}

.section-1-btn:hover {
  opacity: 0.8;
}

.social-media {
  position: absolute;
  bottom: 6rem;
  right: 6rem;
}

.social-media a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 50%;
  margin: 0 1.6rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.social-media a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.social-media i {
  font-size: 3rem;
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background-color: #14213d;
  transition: opacity 0.5s;
}

.section-2-wrapper {
  width: 100%;
  height: calc(100% - 10rem);
}

.countries {
  width: 35%;
  height: 100%;
  background-color: #dcdfe5;
}

.idk1 {
  height: 10rem;
  border-bottom: 0.2rem solid #111;
}

.search-form {
  display: flex;
}

.search-inp {
  background-color: #86bbbd;
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 1.1rem 2rem;
  transition: background-color 0.2s;
}

.search-inp:focus {
  outline: none;
  background-color: #76949f;
}

.search-btn {
  border-radius: 0 3rem 3rem 0;
  font-size: 2rem;
  border: none;
  background: #86bbbd;
  padding: 1.1rem 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-btn:hover {
  background-color: #76949f;
}

.idk2 {
  height: calc(100% - 10rem);
}

.countries-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem 0;
}

.country {
  width: calc(100% - 2rem);
  min-height: 8rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.country:hover {
  background-color: #f3f4f6;
}

.country .main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.country .main .oth i {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}

.country .country-name {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  /* line-height: 1.5; */
}

.alt-name {
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
  margin: 0.6rem 0;
}

.capital {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.flag {
  width: 10%;
  height: 100%;
}

.flag img {
  width: 5rem;
  height: 3rem;
}

.side-section {
  width: 65%;
  height: 100%;
  background-color: #ecffeb;
  position: relative;
}

.bg-refs {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, -50%);
  flex-direction: column-reverse;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, visibility 0.1s;
}

.show .bg-refs {
  opacity: 0;
  visibility: hidden;
}

.bg-text {
  font-weight: 200;
  font-size: 3rem;
  color: #aaa;
  text-align: center;
  letter-spacing: 0.15rem;
}

.bg-logo {
  font-size: 10rem;
  color: #aaa;
  margin: 2rem;
}

.country-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: relative;
  transition: opacity 0.2s, visibility 0.1s;
}

.show .country-main {
  opacity: 1;
  visibility: visible;
}

.country-main .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.country-main .btn-close i {
  font-size: 3rem;
}

.country-flag {
  height: 30%;
  padding: 1rem 0;
}

.country-flag img {
  height: 100%;
}

.country-info {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.as-title .country-name {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: center;
  position: relative;
}

.as-title .country-name i {
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  color: #333;
  transition: opacity 0.2s;
}

.as-title .country-name i:hover {
  opacity: 0.8;
}

.as-title .country-name-alt {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2rem;
}

.country-main .mb {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.country-main label {
  font-size: 2.8rem;
  font-weight: 400;
  color: #444;
}

.country-main .val {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
}
/* End of Section 2 */

/* Responsive */
@media (max-width: 1650px) {
  html {
    font-size: 52.5%;
  }

  .navbar .logo {
    font-size: 3.2rem;
  }

  .navbar-links a {
    font-size: 2rem;
  }

  .banner::before {
    width: 31rem;
    transform: rotate(90deg) translate(17rem, 17rem);
  }

  .banner-heading-1 {
    font-size: 13rem;
    transform: translateX(-1.5%);
  }

  .banner-heading-2 {
    font-size: 10rem;
  }

  .banner-text {
    font-size: 2.3rem;
  }

  .section-1-btn {
    font-size: 1.8rem;
  }

  .social-media a {
    width: 5rem;
    height: 5rem;
  }

  .social-media i {
    font-size: 2.5rem;
  }

  .country .country-name {
    font-size: 2.6rem;
  }
}

@media (max-width: 1350px) {
  .banner::before {
    width: 29rem;
    transform: rotate(90deg) translate(15rem, 15rem);
  }

  .banner-heading-1 {
    font-size: 12rem;
  }

  .banner-heading-2 {
    font-size: 9rem;
  }

  .country {
    width: calc(100% - 4rem);
  }

  .country .country-name {
    font-size: 2.5rem;
  }

  .country .alt-name {
    font-size: 1.5rem;
  }
  .country-flag {
    height: 28%;
  }
}

@media (max-width: 1000px) {
  .banner::before {
    width: 22rem;
    transform: rotate(90deg) translate(13rem, 12rem);
  }

  .banner-heading-1 {
    font-size: 9rem;
  }

  .banner-heading-2 {
    font-size: 6.5rem;
  }

  .banner-text {
    font-size: 2rem;
  }

  .section-1-btn {
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
  }

  .country .alt-name {
    display: none;
  }
}

@media (max-width: 850px) {
  .navbar-links a {
    margin: 0 2rem;
  }

  .section-1-wrapper {
    width: 100%;
  }

  .banner {
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner::before {
    display: none;
  }

  .banner-heading-1 {
    font-size: 7rem;
    line-height: 0.9;
  }

  .banner-heading-2 {
    font-size: 5rem;
  }

  .banner-text {
    font-size: 1.6rem;
    text-align: center;
  }

  .social-media {
    right: 50%;
    transform: translateX(50%);
  }

  .section-2-wrapper {
    display: block;
    position: relative;
  }

  .countries {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .show-country {
    z-index: 98;
  }

  .show-country .countries {
    display: none;
  }

  .countries-list {
    width: 80%;
    margin: 0 auto;
  }

  .country .alt-name {
    display: inline;
  }

  .side-section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
  }

  .show-country .side-section {
    z-index: 99;
  }

  .bg-refs {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
/* End of Responsive */
